body { font: normal 100%/1.5 "Garamond Premier Pro", "Palitano Linotype", Palatino, Georgia, serif; color: #000; background-color: #fff; }
html>body { font-size: 18px; }
h1, h2, h3 { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 1.167em; line-height: 1.286em; margin: 1.286em 0; }
h2 { font-size: 1.166em; line-height: 1.286em; margin: 1.286em 0; }
h3 { font-size: 1em; line-height: 1.5em; margin: 1.5em 0; }
p { margin: 1.5em 0; }
a { text-decoration: none; font-weight: bold; color: blue; } img { border: 0; }

#wrapper { width: 700px; margin: 80px auto; }

#home { margin: 0 0 60px 0; }
#home a { color: #000; }

#menu { margin: 60px 0 0 0; padding: 0; }
#menu li { display: inline; margin-right: 1em; }
#menu a { color: #111; }
#copyright { margin: 0; font-size: 14px; }

#latest { margin: 1.5em 0; padding: 0; font-family: Helvetica, Arial, sans-serif; list-style: none; }
#latest a { font-weight: normal; }

#related { margin-top: 40px; }
