<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
	</head>
	<body>
		<div id="wrapper">
			<h2 id="home"><a href="/">Martin Lundberg</a></h2>
			{{ content }}

			{% if page.comments %}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_developer = 1;
				var disqus_url = "http://martinlundberg.com{{ page.url }}";
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://martinlundberg.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=martinlundberg">comments powered by Disqus.</a></noscript>
			{% endif %}

			<ul id="menu">
				<li><a href="/">Blog</a></li>
				<li><a href="/archive/">Archive</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
			<p id="copyright">Copyright © 2010 Martin Lundberg</p>
		</div>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3093690-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
