<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/pygments.css" type="text/css" />
		<script src="//use.edgefonts.net/source-sans-pro;inconsolata.js"></script>
	</head>
	<body>
		<div id="wrapper">

			<div id="meta">{{ page.date | date:"%B %e, %Y" }}</div>

			<h2 id="home"><a href="/">Martin Lundberg</a></h2>
			{{ content }}

			<ul id="menu">
				<li><a href="/">Blog</a></li>
				<li><a href="/archive/">Archive</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		</div>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3093690-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
